<!-- views/partials/head.ejs -->

<meta charset="utf-8">

<!-- Responsive design (Bootstrap) -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<!-- Load custome styles and bootstrap -->
<link rel="stylesheet" type="text/css" href="../../css/normalize.css">
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="/lib/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
<link href="/lib/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../css/style.css">