<!DOCTYPE html>

<html>
	<head>
		<% include ../views/partials/head %>
	</head>

	<body>
		<% if (user) { %>
			<% include ../views/partials/nav_bar %>
			<div class="container-fluid">
				<form action="/dayRequests/add_new" method="post">
				<div>
					<label>Student:</label>
					<input type="text" name="student" />
				</div>
				<div>
					<label>Subject:</label>
					<input type="text" name="subject"/>
				</div>
				<div>
					<label>Hours Requested:</label>
					<input type="number" name="hoursRequested"/>
				</div>
				<div>
					<label>Availability:</label>
					<input type="date" name="availability[0][startTime]" value="start time mm/dd/yy"/>
					<input type="date" name="availability[0][endTime]" value="end time mm/dd/yy"/>
				</div>
				<div>
					<label>Backup Day:</label>
					<input type="date" name="backupDays" value="mm/dd/yy" />
				</div>
				<input type="submit" value="Sign up" />
				<!-- </div> -->
				</form>
			</div>
		<% } else { %>
			<div class="container-fluid">
				<h1>Oops... only registered users could use this feature</h1>
				<h2>Please choose one of the below options</h2>
				<div class="row">
					<div class="col-md-6 rightify">
						<a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
					</div>
					<div class="col-md-6 leftify">
						<a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
					</div>
				</div>
			</div>
		<% } %>
		<footer class="footer">
			<div class="list-group-separator"></div>
			<% include ../views/partials/footer %>
		</footer>
		<% include ../views/partials/loadSchedulingScripts %>
	</body>
</html>