<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>

	<body>
		<h1><%= title %></h1>
		<br>

		<a href="/signout">Sign out</a><br><br>

		<form action="/students/<%=student._id%>/delete" method="post">
			
			<div>
				<span><%= 'Delete student ' + student.fullName + ' ?'%></span>
			</div>
			<input type="submit" value="Delete" />

		</form>

	</body>
</html>